*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
body { background-color: pink}
h1 {text-align: center; color: blue;}
h4 {text-align: center; color: blue; }
#canales {background-color: red; display: flex; flex-wrap: wrap; justify-content: center; }
#canales a { }
#canales a img { height: 250px; height: 250px; margin: 10px;}
#canales a p {font-size: 20px; color:white; text-align: center;}    
p {font-size: 20px; color:blue; text-align: center; }
